# ---------------------------------
# PriceService configuration file
# ---------------------------------
#
# The commented-out settings shown in this file represent the default values.
#
# This file is read when price-service start
#
# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

# Address and port on which PriceService will accept HTTP requests.
LISTEN={{ price_service_listen | default("0.0.0.0:8000") }}

# Log folder path for access and application logging. Default "stdout".
LOG_FOLDER=/var/log/price-service

# If defined the PriceService will accept only HTTPS requests
SSL_CERT={{ price_service_ssl_cert | default("") }}
SSL_KEY={{ price_service_ssl_key | default("") }}

# -----------------------------------------------------------------------------
# Datastore
# -----------------------------------------------------------------------------

# Storage used by PriceService to retrieve search engines.

# Storage file
DATABASE_FILE={{ price_service_storage_file | default("/etc/price-service/core.database.yml") }}

# -----------------------------------------------------------------------------
# Publisher configuration
# -----------------------------------------------------------------------------

# Configuration used to connect to the publisher server

# Storage file
PUBLISHER_FILE={{ price_service_publisher_file | default("/etc/price-service/core.publisher.yml") }}

# -----------------------------------------------------------------------------
# Revision file
# -----------------------------------------------------------------------------

# Expose the revision file generated by build into url

# Revision file
REVISION_FILE={{ price_service_revision_file | default("/etc/price-service/rev.txt") }}

# -----------------------------------------------------------------------------
# Swagger file
# -----------------------------------------------------------------------------

# Expose the swagger file

# Swagger file
SWAGGER_FILE={{ price_service_swagger_file | default("/etc/price-service/swagger.yml") }}

# -----------------------------------------------------------------------------
# Metrics and Monitoring
# -----------------------------------------------------------------------------

# If you want enable the NewRelic for monitoring or metrics, please define the
# required configurations bellow:

# Set the application name, this configuration is required for NewRelic.
NEWRELIC_APPNAME={{ price_service_newrelic_appname | default("") }}

# Set the license key, this config is required for NewRelic.
NEWRELIC_LICENSE_KEY={{ price_service_newrelic_license_key | default("") }}